body {
    background-color:#ffffff;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: yellow;
    background-color: #0931d2;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #cc5200;
    text-align: center;
}
h2 {
    color: rgb(255, 113, 57);
}
p {
    color: rgb(221, 0, 66);

}
#imagem-principal {
    width: 15%;
    margin-left: 50%;
    border: 5px dotted rgb(240, 43, 21);
    float: left;
    position: absolute;
}

.itens {
    color:  #00696d;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}
